{{> navbar_user}}
<!-- Page Wrapper-->
<div id="wrapper">
  {{> sidebar}}
   <!-- Page Content -->
    <div id="page-content-wrapper">
      <div class="container-fluid">
        <div class="col">
          <ul class="nav nav-tabs justify-content-center" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#showName" role="tab" data-toggle="tab" aria-selected="true">Name &amp; Address Info</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#passConfirm" role="tab" data-toggle="modal">Change Account Settings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#recentTransactions" role="tab" data-toggle="tab">Recent Transactions</a>
            </li>
          </ul>
        </div>
        <!-- Row to hold user's data -->
        <div class="row">
          <div class="container">
            <!-- Cards displaying name and address info -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade show active" id="showName">
                <div class="col-sm-12 m-auto">
                  <div class="card">
                    <div class="card-body">
                      <form>
                        <div class="form-group">
                          <label for="firstName">First Name</label>
                          <input readonly="readonly" type="text" class="form-control" id="firstName" placeholder="First Name" value="{{user.firstname}}">
                        </div>
                        <div class="form-group">
                          <label for="lastName">Last Name</label>
                          <input readonly="readonly" type="text" class="form-control" id="lastName" placeholder="Last Name" value="{{user.lastname}}">
                        </div>
                        <div class="form-group">
                          <label for="inputAddress">Address</label>
                          <input readonly="readonly" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" value="{{user.address.addressOne}}">
                        </div>
                        <div class="form-group">
                          <label for="inputAddress2">Address 2</label>
                          <input readonly="readonly" type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" value="{{user.address.addressTwo}}">
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <input readonly="readonly" type="text" class="form-control" id="inputCity" value="{{user.address.city}}">
                          </div>
                          <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <select id="inputState" class="form-control">
                              <option selected>Choose...</option>
                              {{#each place}}
                                  <option value="{{this.acronym}}">{{this.name}}</option>
                              {{/each}}
                            </select>
                          </div>
                          <div class="form-group col-md-2">
                            <label for="inputZip">Zip</label>
                            <input type="text" class="form-control" id="inputZip" value="{{user.address.zip}}">
                          </div>
                        </div>
                        <button type="submit" class="btn btn-success" id="saveUserUpdates">Save Updates</button>
                        <button type="button" class="btn btn-info" id="editUsernameValues">Edit Values</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Recent Transactions -->
              <div role="tabpanel" class="tab-pane fade" id="recentTransactions">
                <div class="col m-auto">
                  <div class="card">
                    <h4 class="card-header text-center">Your Recent Purchases</h4>
                    <div class="card-body">
                      <table class="table table-hover table-striped">
                        <thead>
                          <tr class="table-light">
                            <th scope="col">IMAGE</th>
                            <th scope="col">TITLE</th>
                            <th scope="col">$ PRICE</th>
                            <th scope="col">Bitcoin Price</th>
                          </tr>
                        </thead>
                        <tbody id="purchases">
                          <tr>
                            <td><img src="" /></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td><img src="" /></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td><img src="" /></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td><img src="" /></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td><img src="" /></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td><img src="" /></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td><img src="" /></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td><img src="" /></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td><img src="" /></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td><img src="" /></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td><img src="" /></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Container -->
          </div>
        </div>
      </div>
      <!-- /container-fluid -->
      
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->
{{> footer}} 
{{> modal_login}} 
{{> modal_error}}
{{> scripts}}
<script type="text/javascript">
ReactDOM.render(
  React.createElement(UserAuth, { switch: "info_auth" }, null),
  document.getElementById("_root")
);
</script>